body,html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
}

#searchBox{
    padding: 15px;
    margin: 15px;
    margin-bottom: 10px;
    width: 50%;
    min-width: 400px;
    font-size:20px;
}

#searchButton {
    width: 50px;
    height: 50px;
    background: #eb9a50;
}

#searchResult {
    margin-right: 150px;
    margin-left: 150px;
}

@media only screen and (max-width:1024px) {
    #searchResult {
        margin-right: 50px;
        margin-left: 50px;
    }
}

.book {
    min-width: 800px;
    min-height:250px;
    width: 800px;
    text-align: center;
    position: relative;
    border-style: groove;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.book .right img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.book .right {
    position: relative;
    width: 120px;
    height: 100%;
    float: right;
}
.book .lead {
    text-align: left;
    padding-right: 150px;
}

.book .lead h2 {
    text-align: center;
    color: black;
}
