{% extends 'base.html' %}
{% load static %}

{% block title %}My Explore{%endblock%}
{% block content %}

    <br><br><br>
    <p><img src="{% static 'home/caramelworld1.svg'%}" class="img-fluid" alt="Responsive image" loading="lazy"></p>

    <div class="box-containers-one">
        <div class="box-container">
            <img src="{% static 'home/caramelnsals2.svg'%}" class="img-fluid" alt="Responsive image" loading="lazy">
        </div>
        <div class="box-container">
            <p style="text-align: center;" font size="5">I like to make bread since I was in junior high school. When there is free time, I practice new recipes. You can see the photos at <a href="https://www.instagram.com/caramelnsals" style="color:orange">@caramelnsals</a></font></p>
        </div>
    </div>

    <div class="box-containers-one">
        <div class="box-container">
            <p style="text-align: center;" font size="5">I also honed my interest in makeup. I decided to become a MUA in 2019. When dressing people, I feel like challenging myself. To see my type of signature, you can visit <a href="https://www.instagram.com/caramel.mua" style="color:orange">@caramel.mua</a></font></p>
        </div>
        <div class="box-container">
            <img src="{% static 'home/caramelmua.svg'%}" class="img-fluid" alt="Responsive image" loading="lazy">
        </div>
    </div>

    <br><br>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {% endblock %}

</html>