{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <img src="{% static 'home/Welcometocaramel2.svg'%}" style="object-fit: contain" class="img-fluid" alt="Responsive image" loading="lazy"><br>
    <img src="{% static 'home/Gettoknowmemore1.svg'%}" style="object-fit: contain" class="img-fluid" alt="Responsive image" loading="lazy"><br><br><br><br>
        <p style="text-align: center;" font size="4">I am not a caramel. My name is Karimah.</font></p><br>
        <p style="text-align: center;" font size="4">Here’s a few things about me.</font></p><br>
        <p style="text-align: center;" font size="4">I do explore another things in my life.</font></p><br>
        <u><p style="text-align: center;" font size="4"><a href="explore" style="color:orange" id="flex">Go check it out</a></font></p></u><br><br>

    <div class="call-outs-container">
        <div class="call-out">
            <h4 style="text-align: center;">Description</h4><br>
            <p style="text-align: center;">I am a young IT explorer. I'm seeking for other experiences that I like to do in my life.</p>
        </div>
        <div class="call-out">
            <h4 style="text-align: center;">Education</h4><br>
            <div style="text-align: center;">
                <ul style="text-align: center;">
                    <li>Faculty of Computer Science, University of Indonesia</li>
                    <font size="3" style="color:#9e9e95">(currently)</font><br>
                    <p><li>SMAN 99 Jakarta</li>
                    <font size="3" style="color:#9e9e95">(2016-2019)</font><br>
                    <p><li>SMPN 9 Jakarta</li>
                    <font size="3" style="color:#9e9e95">(2013-2016)</font><br>
                    <p><li>SDI PB. Soedirman</li>
                    <font size="3" style="color:#9e9e95">(2007-2013)</font><br>
                </ul>
            </div>
        </div>
        <div class="call-out">
            <h4 style="text-align: center;">Experience</h4><br>
            <div style="text-align: center;">
                <ul style="text-align: center;">
                    <li>Public Relations at Open House Fasilkom UI</li>
                    <font size="3" style="color:#9e9e95">(2019)</font><br>
                    <p><li>Entrepreneurship at SISTEM Fasilkom UI</li>
                    <font size="3" style="color:#9e9e95">(currently)</font><br>
                    <p><li>Treasurer at Teater Biru Merah Fasilkom UI</li>
                    <font size="3" style="color:#9e9e95">(currently)</font><br>
                    <p><li>Mentor at PMB Fasilkom UI</li>
                    <font size="3" style="color:#9e9e95">(currently)</font><br>
                </ul>
            </div>
        </div>
    </div>

    <br><br><br>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {% endblock %}
</html>