.hello{
    padding-top: 60px;
    min-height: 100vh;
    min-width: 400px;
    background-image: url('/static/img/story7.jpg');
    background-size: cover;
    text-align: center;
}

.card-hm{
    margin-top: 170px;
    margin-left: 70px;
    margin-right: 70px;
}

.card-body{
    background-image: linear-gradient(to right, #f2f6f7, #d9e06f, #b6f780);
}

.accordion-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    width: 80%;

}

.accordion {
    width: 100%;
    padding-bottom: 50px;
    
}
.collapse {
    overflow: hidden;
}

.accordion-buttons {
    color: rgb(245, 148, 58);
}

.accordion-buttons svg {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.btn2 {
    
    border: none;
    background-color: transparent;
    margin-left: 50px;
    font-size: large;
    font-weight: 520;
    color: rgb(83 111 84);
    font-family:  Gothic A 1;
}

.card-header{

    background: #F5F5EF;
    box-shadow: 0 15px 20px -15px rgba(0,0,0,0.3), 0 35px 50px -25px rgba(0,0,0,0.3), 0 85px 60px -25px rgba(0,0,0,0.1);  
}

.btn2 span {
    color: #F4B4B7;
}

