{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Form MataKuliah{%endblock%}
{% block content %}

<header>
    <br><br><img src="{% static 'story5/form.png'%}" style="height:100%;  overflow:hidden;" class="img-form" alt="Responsive image" loading="lazy">
</header>
<br><br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>Add course</b></h2>
        <hr class="mt-0 mb-4">
        <form method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a type="button" class="btn btn-light" href="{% url 'story5:jadwal_list' %}"><b>Back</b></a>
        </form>
        <br>
      </div>
    </div>
  </div>
<br>
{% endblock %}


