{% extends 'base.html' %}
{% load static %}
{% block content %}

<header>
  <br><br><img src="{% static 'story5/form.png'%}" style="height:100%;  overflow:hidden;" class="img-form" alt="Responsive image" loading="lazy">
</header> 
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>Delete course</b></h2>
        <hr class="mt-0 mb-4">
        
        <form action="{% url 'story5:jadwal_delete' item.id %}" method='POST'>
            {% csrf_token %}
            <h5 class="featurette-heading">Do you want to delete the course "{{item}}"?</h5>
            <br>
            <button type="submit" class="btn btn-danger"><b>Yes</b></button>
            <a type="button" class="btn btn-info" href="{% url 'story5:jadwal_list' %}"><b>Cancel</b></a>

      </div>
    </div>
  </div>
<br>

{% endblock %}
