{% extends 'base.html' %}
{% load static %}
{% block content %}

<header>
    <br><br><img src="{% static 'story5/form.png'%}" style="height:100%;  overflow:hidden;" class="img-form" alt="Responsive image" loading="lazy">
</header>
<br><br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>My Courses</b></h2>
        <hr class="mt-0 mb-4">
        <div class="list-group">
            {% for i in matakuliahs %}
            <a href="{{ i.id }}" class="list-group-item list-group-item-action mute-bg"><b>{{ i.nama }}</b></a>
            {% endfor %}
        </div>
        <br>
        <a class="btn btn-warning" href="{% url 'story5:jadwal_form' %}"><b>Add course</b></a>
        <br>
    </div>
    </div>
  </div>
<br>


{% endblock %}
