{% extends 'base.html' %}
{% load static %}
{% block content %}

<header>
  <br><br><img src="{% static 'story5/form.png'%}" style="height:100%;  overflow:hidden;" class="img-form" alt="Responsive image" loading="lazy">
</header>
<br><br>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <p><h2 class="featurette-heading"><b>Course Detail</b></h2>
        <table class="table" font size="3" style="text-align: left;" >
        <tbody >
          <tr>
            <th scope="row">Name</th>
            <td>{{ matakuliah.nama }}</td>
          </tr>
          <tr>
            <th scope="row">Lecturer</th>
            <td>{{ matakuliah.dosen }}</td>
          </tr>
          <tr>
            <th scope="row">Credit</th>
            <td>{{ matakuliah.jumlahSKS }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ matakuliah.deskripsi }}</td>
          </tr>
          <tr>
            <th scope="row">Kelas</th>
            <td>{{ matakuliah.ruangKelas }}</td>
          </tr>
          <tr>
            <th scope="row">Semester</th>
            <td>{{ matakuliah.tahun }}</td>
          </tr>
        </tbody>
      </table></p>
      <a class="btn btn-danger" href="{% url 'story5:jadwal_delete' matakuliah.id %}">Delete Course</a>
      <a type="button" class="btn btn-light" href="{% url 'story5:jadwal_list' %}"><b>Back</b></a>
  </div>
</div>
</div>
</br>
{% endblock %}
