{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'home/shape.png'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'story7.css' %} " />
    
</head>

<body>
<section class="hello" id="hello">
    <div class="card-hm">
        <div class="card-body">
            <center><h1> Do you want to see more?</h1><br>
            <a href="/story7" type="button" class="btn btn-light" style="font-size: 15px; padding: 10px 24px;">See more</a>&nbsp;&nbsp;
            <a href="/" type="button" class="btn btn-light" style="font-size: 15px; padding: 10px 24px;">Back</a>
            </center>
        </div>
    </div>
</section>
