<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Karimah</title>
</head>
<body>
    <a href="/"><img src="{% static 'home/Arrow1.svg'%}"></a><br><br>
    <div style = "text-align:center">
        <b><font size="6">Hello, I'm Kari</font></b> 
        <p><img src="{% static 'story/photo.jpg'%}" height="400" width="300"><p>
        <h2>Biodata</h2>
        <font size="3">Name : Karimah</font><br>
        <p><font size="3">NPM : 1906319006</font><br></p>
        <font size="3">Angkatan : 2019</font><br>
        <h2>About me</h2>
        <p><font size="3">Hobby : Swimming, listening music, making buns</font><br></p>
        <font size="3">Description : I am a baker and make up enthusiast and I do love caramel</font><br>
        <h2>Education</h2>
        <p><font size="3">University : Faculty of Computer Science, Universitas Indonesia</font><br></p>
        <p><font size="3">Education Background :</font><br><p>
        <p><font size="3">2016 - 2019 SMAN 99 Jakarta</font><br></p>
        <p><font size="3">2013 - 2016 SMPN 9 Jakarta</font><br><p>
        <p><font size="3">2007 - 2013 SDI PB. Soedirman</font><br><p>
        <h2>My Contact</h2>
        <p><font size="3">You can click down below</font></p>
        <p><a href="https://www.instagram.com/karimahms">Instagram</a>
    </div>

</body>
</html>