{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'story8/story8.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="content" style="padding-top:65px; min-height:100%;">
    <br>
    <input type="text" id="searchBox" name="item" placeholder="Search here"/>
    <button id="searchButton"><i class="fa fa-search"></i></button>
    <section id="searchResult">
    </section>
    <br>
</div>

<script>
    var search_url = "{% url 'story8:searchInput' %}?item=";
    
    var button = document.getElementById("searchButton");
    button.addEventListener("click", function() {
        var pencarian = $("#searchBox").val();
        cariBuku(pencarian);
    });
    
    var input = document.getElementById("searchBox");
    input.addEventListener("keyup", function(event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        var pencarian = $("#searchBox").val();
        cariBuku(pencarian);
      }
    });

    cariBuku = (search_value) => {
        $.ajax({
            type:"GET",
            url: search_url + search_value,
            dataType: "json",
            success: function(data) {
                $('#searchResult').empty();
                for (i of data.items) {
                    var info = i.volumeInfo
                    console.log(info.title);
                    
                    var title = info.title ? info.title : "";
                    
                    var author = info.authors;
                    if (author == undefined ) {
                        author = "<i>Unknown</i>"
                    } else {
                        author = info.authors[0];
                    }
                    
                    var deskripsi = info.description ? info.description: "-";
                    
                    var img = info.imageLinks.smallThumbnail;
                    if (!img) {
                        img = info.imageLinks.smallThumbnail;
                    } else if (!img) {
                        img = "https://www.freeiconspng.com/uploads/no-image-icon-8.png";
                    }
                    
                    var linkBaca = info.previewLink ? info.previewLink: "";
                    
                    var tanggal = info.publishedDate  ? info.publishedDate: "<i>Unknown</i>";
                
                    var result = '\
                    <div class="row" style="margin-top: 30px">\
                        <div class="col-12 d-flex justify-content-center">\
                          <div class="book">\
                            <div class="right">\
                                <a href = "'+ linkBaca +'"> <img src="' + img + '">\
                            </div>\
                            <div class="lead">\
                                <h2>' + title + '</h2></a>\
                                <p style="text-align:center"><i>Author</i>: ' + author + '</p>\
                                <p>'+ deskripsi +'</p>\
                                <p style="text-align:right"><i>Release Date</i>: <u>' + tanggal + '</u></p>\
                            </div>\
                          </div>\
                        </div>\
                      </div>'
                    $("#searchResult").append(result);
                }
            }
        })
    }
</script>

{% endblock %}