html{
    scroll-behavior: smooth;
}

.logo{
    width: 35px;
    height: 35px;
}

.img-fluid {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}

.img-form{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
}

/* .img-form{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    overflow: hidden;
    position: relative;
    background: url('/form.png');
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    color: white;
    padding-top: 50px;
}

th, td{
    color: white;
} */

@font-face {
    font-family: Gothic A 1;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #000000;
    src : url('home/GothicA1-ExtraLight.ttf') format('truetype');
}

.call-outs-container {
     max-width: 1400px;
     margin: 40px auto 0 auto;
}

.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 27%;
}

.call-out:nth-child(1) {background-color: #E9EC61;
}

.call-out:nth-child(2) {background-color: #E9EC61;
}

.call-out:nth-child(3) {background-color: #E9EC61;
}

@media (min-width: 900px) {
    .call-outs-container {
        display: flex;
        justify-content: space-around;
    }

    .box-containers-one {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 400px) {
    .p {
        font-size: 13px;
        line-height: 10px;
        margin-top: 10px;
    }
}

.box-containers-one {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

.box-container {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 40%;
}
