{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html>

<body>

    {% block content %}
    <br><br><br><br>
    <section class=" form" id="form">
        <div class="container">
            <div class="card_form">
                <div class="card">
                    <h1 class="card__title" font-style : Poppins> Create a new account
                    </h1><br>

                    <div class="main-story10 ">
                        {% if messages %}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        {% endif %}


                        <div class="login-content mx-5 ">

                            <!-- <h6 class="titles"> Create a new account </h6> -->

                            <div class="register-form">
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form }}
                                <button type="submit" name="btn-signup" id='btn-signUp' class="btn btn-one mt-4">Sign Up</button>
                                </form>
                            </div>


                            <div class="info mt-4">
                                <p>
                                    Have an account already? <a class="sign-up-in-link"
                                        href="{% url 'story9:login' %}"><strong>Sign in.</strong></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </div>
    </section>
</body>

</html>



<!-- SCRIPTS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.parallax.js"></script>
<script src="/static/js/smoothscroll.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/custom.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
{% endblock %}
